
    body{
      background-image: url('imges/backgroundPurple.jpg');
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
      font-family: 'Share Tech';
      color: rgb(164, 37, 238);
    }
    .contain{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
    .time-real{
      font-size: 40px;   
    }
    .note{
      font-size: 25px;
    }
    .timer{
      font-size: 180px;
      margin: 0;
    }
    .start-button{
      font-family: 'Share Tech';
      background-color:rgb(164, 37, 238) ;
      color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
      font-size: 20px;
      cursor: pointer;
    }

    .reset-button,
    .setting-button{
      background-color:rgb(164, 37, 238) ;
      padding: 10px 15px;
      border-radius: 25px;
      border: none;
    }
    .row-button{
      display: flex;
      column-gap: 15px;
      align-items: center;
      position: relative;
    }

    .gif{
      position: absolute;
      width: 200px;
      left: 470px;
    }
