
    body{
      background-image: url('imges/background.jpg');
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: start;
      row-gap: 50px;
      align-items: center;
      height: 600px;
      font-family: 'Share Tech';
      color: rgb(164, 37, 238);
    }
    .contain{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }
    .time-real{
      font-size: 40px;   
    }
    .note{
      font-size: 25px;
    }
    .timer{
      font-size: 180px;
      margin: 0;
    }
    .start-button{
      background-color:rgb(164, 37, 238) ;
      color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
      font-size: 18px;
      cursor: pointer;
    }

    .reset-button,
    .setting-button{
      background-color:rgb(164, 37, 238) ;
      padding: 5px 10px;
      border-radius: 20px;
      border: none;
    }
    .row-button{
      display: flex;
      column-gap: 15px;
    }